<!-- 
    画面名：受付場所の入力画面
    画面id：G1050-01
-->

<div id="G1050-01">
    <!--固定ヘッダー ブロック-->
    <header ng-include="'pages/common/header.html'" ng-init="headerType = 2" >
    </header>

    <!--メインブロック-->
    <main class="main">
        <!--営業員専用ブロック-->
        <div class="staffOnly">
            <div class="staffOnly_caution"></div>
            <span class="staffOnly_text">この画面は営業員専用の画面です</span>
        </div>
        <div class="pageTitle">受付場所を選択してください</div>
        <div class="placeBtnArea">
            <div class="placeBtnArea01_img">
                <div class="placeBtnArea01" ng-click="btnStoreClick()" ng-class="{placeBtnArea01_active: ukeJoho.UKTKBASY_K == 1}">
                    <div class="placeBtnArea01_text">店頭</div>
                </div>
            </div>
            <div class="placeBtnArea02_img">
                <div class="placeBtnArea02" ng-click="btnVisitClick()" ng-class="{placeBtnArea02_active: ukeJoho.UKTKBASY_K == 2}">
                    <div class="placeBtnArea02_text">訪問</div>
                </div>
            </div>
        </div>
    </main>
 
    <footer class="fixedFooter">
        <button class="backBtn" ng-click="btnBackClick()">戻る</button>
        <button class="nextBtn" id="btnNext" ng-click="nextBtnClick()" ng-disabled="!ukeJoho.UKTKBASY_K">次へ</button>
    </footer>
</div>

