<!--書類選択へ戻る 確認ポップアップ-->
<div class="modal fade" data-backdrop="static" id="G1190-03" ng-init="initConfirm()">
    <div class="modal-dialog modalBack_main">
        <div class="modal-content modalBack_content">
            <div class="modalBack_body modal-body">
                書類選択画面へ戻ります。<br>よろしいですか？
            </div>
            <div class="modal-footer">
                <button class="modalBack_noBtn" ng-click="backBtnClickNo()">いいえ</button>
                <button class="modalBack_yesBtn" ng-click="backBtnClickYes()">はい</button>
            </div>
        </div>
    </div>
</div>