<div class="modal fade" data-backdrop="static" id="G1270-04">

    <!--確認画面表示領域-->
    <div class="modal-dialog modalBack_main">
        <div class="modal-content modalBack_content">

            <!--確認メッセージ-->
            <div class="modalBack_body modal-body">
                ホーム画面へ戻ります。よろしいですか？
            </div>

            <div class="modal-footer">
                <!--いいえ-->
                <button class="modalBack_noBtn" id="btnYes" data-dismiss="modal" ng-click="returnHomeNo()">いいえ</button>
                <!--はい-->
                <button class="modalBack_yesBtn" id="btnNo" data-dismiss="modal" ng-click="returnHomeYes()">はい</button>
            </div>
        </div>

    </div>
</div>