/*
G1270-03 applicationCompSendFailed
申込み内容受付機能
*/

#G1270-03 {

    .mainArea{
        position: absolute;
        background-color: $main-color-bg;
        padding-left: 30px;
        padding-right: 30px;
        height: 680px;
        width: 1024px;
        text-align: center;
        color: $color-gray900;
        margin-top: 60px;

        &_mainText{
            color: $color-nikko-16;
            margin-top: 130px;
            font-size: $fontsize-extraLarge;
            font-weight: bold;
            display: block;
        }

        &_subText{
            color: $color-gray900;
            font-size: $fontsize-large;
            font-weight: normal;
            margin: 10px 0 0;
            &-accent {
                color: $color-accent;
            }
        }

        &_backHomeBtn{
            position: unset;
            margin-top: 80px;
            background-color: $color-baseColor1;

            &_error{
                margin-top: 45px;
            }
            
            @extend .btn_large;
            grid-column-start: 2;
            letter-spacing: 0px;
            background-color: $button-next-color-bg;
            background-image: url(../images/arrow_nextBtn.svg);
            background-repeat: no-repeat;
            background-position-x: 175px;
            background-position-y: center;
            background-size: auto 55%;
        }

        &_cautionIcon{
            background: {
                image: url("../images/icon_alert.svg");
                repeat: no-repeat;
                size: contain;
            }
            display: inline-block;
            margin-bottom: -5px;
            height: 26px;
            width: 26px;
        }
    }
}