/*
G1210-01_cameraImageFill
機微情報の塗りつぶし画面　※トップ
*/

@mixin commonButton{
    border: none;
    background-color: $color-accent;
    background-repeat: no-repeat;
    border-radius: 12px;

    &:active{
        @extend .button-active;
    }
}

@mixin baseButton{
    @include commonButton;
    background-size: 25px;
    background-position: center;
    margin: 0 auto 20px auto;
    width: 45px;
    height: 45px;
    display: block;
}

@mixin baseButtonRow{
    @include commonButton;
    font-size: 15px;
    font-weight: normal;
    color: #ffffff;
    width: 110px;
    height: 40px;
    background-size: auto 35%;
    background-position: 10px 12px;
}

// 画像表示枠(1書面分)
@mixin Imagebox($container:"fillForm"){
    .#{$container}PieceLabel{
        display: inline-block;
        position: absolute;
        top: 20px;
        left: 180px;
        font-size: $fontsize-extraLarge;
        color: $color-gray900;
    }
    .#{$container}ImageBox {
        &_frame{
            position: relative;
            height: if($container == "thumbs", 80px, 250px);
            width: if($container == "thumbs", 128px, 400px);
            margin: auto;
            &_noImage {
                border-radius: 8px;
                color: $color-white;
                font-size: $fontsize-extraLarge;
                font-weight: bold;
                width: if($container == "thumbs", 128px, 100%);
                height: 100%;
                padding-top: if($container == "thumbs", 0, 180px);
                background-image: url(../images/noImage.svg);
                background-repeat: no-repeat;
                background-size: if($container == "thumbs", 40%, 30%);
                background-position: if($container == "thumbs", 50%, 50% 40%);
                background-color: $color-nikko-13;
                text-align: center;
            }
        }
        &_fillImage{
            display: block;
            height: 100%;
            max-width: 100%;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }

        // ボタン表示領域
        &_borderBottom {
            padding: 30px 0;
            width: 400px;
            text-align: center;
            /* 再撮影ボタン */
            &-mask {
                @include baseButtonRow;
                padding: 0 0 0 20px;
                background-image: url(../images/icon_mask.svg);
            }
        }

        // サイドボタン表示領域
        &_sideContainer {
            display: inline-block;
            // width: 60px;
            width: 70px;
            height: 250px;
            position: relative;
            top: -250px;
            left: 750px;
            text-align: center;
            /* 再撮影ボタン */
            &-mask {
                @include baseButton;
                background-image: url(../images/icon_mask.svg);
            }
        }
    }
}
    
@mixin fillFormTable(){
    margin: 0;

    &_box {
        float: left;
        margin-top: 20px;
        &-left {
            margin-left: 55px;
        }
        &-right {
            margin-left: 54px;
        }
    }
    &_checkBox {
        padding: 20px 0 20px 25px;
        border-top: solid 1px $color-gray400;
        float: left;
        width: 100%;
        .checkBoxForm {
            &_title {
                font-size: $fontsize-extraLarge;
                font-weight: bold;
                color: $color-gray900;
            }
        }
    }
    /* 選択画像表示枠 */
    @include Imagebox();
    /* サムネイル表示枠 */
    @include Imagebox("thumbs");    
}

#G1210-01 {
    // コンテンツ部
    main {
        .blockTitle{
            position: relative;
            .switch{
                &_wrapper{
                    display: block;
                    color: $color-nikko-14;
                    position: absolute;
                    top: 0;
                    left: 795px;
                }
                &_box{
                    width: 170px;
                }
                &_label{
                    font-size: 20px;
                    color: $color-nikko-14;
                }
            }
        }
        .fillFormArea {
            background-color: $main-color-bg;
            width: 100%;

            .sub-text{
                margin: 20px 0;
                color: $color-gray900;
                font-size: $fontsize-large;
                text-align: center;
                span {
                    font-weight: bold;
                }
            }

             // 画像表示エリア
            .fillFormTable {
                @include fillFormTable();
            }
        }
    }
    
    // 進捗率40%
    .progressCircle {
        @include progressCircle(40);
    }
    .checkArea {
        padding-top: 10px;
    }

    //■■■■　横スクロール　■■■■
    .swiper{
        &-contaier {
            width: 100%;
        }
        &-button{
            &-next{
                right: 255px;
                background-image: url(../images/arrow_nextImageBtn.svg);
            }
            &-prev{
                left: 255px;
                background-image: url(../images/arrow_backImageBtn.svg);
            }
            &-disabled{
                display: none;
            }
        }
        &_label{
            position: absolute;
            top: 30px;
            left: 20px;
            font-size: $fontsize-large;
            color: $color-gray900;
        }
    }
    .gallery{
        &-top{
            height: 280px;
            padding: 20px 0 10px 0;
        }
        &-thumbs{
            display: flex;
            justify-content: center;
            height: 100px;
            width: 640px;
            margin-bottom: 20px;
            padding: 5px 0;
            background-color: $color-lightgreen;
            border-radius: 11px;

            .swiper-wrapper{
                width: auto;
                transform: translate3d(0, 0, 0) !important;
                -webkit-transform: translate3d(0, 0, 0) !important;
            }

            .swiper-slide{
                width: auto;
                opacity: 0.6;
                margin-right: 20px;
                padding: 5px;
                &-thumb-active{
                    opacity: 1;
                    padding: 0;
                    border: solid 5px $color-baseColor1;
                    background-color: $color-baseColor1;
                }
            }
        }
    }
}